APP_KEY=

DB_HOST=localhost
DB_DATABASE=librenms
DB_USERNAME=librenms
DB_PASSWORD=

APP_URL=
NODE_ID=
DB_PORT=3306
LIBRENMS_USER=www

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TIMEOUT=60
REDIS_PREFIX=librenms_

CACHE_DRIVER=redis
CACHE_PREFIX=librenms

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_REDIS_DATABASE=1

QUEUE_CONNECTION=redis
REDIS_QUEUE_DATABASE=2

SESSION_SECURE_COOKIE=true

APP_LOG=/var/log/librenms/librenms.log

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_STACK=single

SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null